export(survSensitivity)
export(comprSensitivity)
export(plotsens)

import(ggplot2)
import(interp)
import(metR)
import(reshape2)
import(survival)

importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "binomial", "dnorm", "glm", "glm.control", "optim", "pnorm", "rbinom", "var")
